# d6tstack with Dask

Dask is a great library for out-of-core computing. But if input files are not properly organized it quickly breaks. For example:

1) if columns are different between files, dask won't even read the data! It doesn't tell you what you need to do to fix it.

2) if column order is rearranged between files it will read data, but into the wrong columns and you won't notice it

Dask can't handle those scenarios. With d6tstack you can easily fix the situation with just a few lines of code!

For more instructions, examples and documentation see https://github.com/d6t/d6tstack

## Base Case: Columns are same between all files
As a base case, we have input files which have consistent input columns and thus can be easily read in dask.

In [22]:
import dask.dataframe as dd

# consistent format
ddf = dd.read_csv('test-data/input/test-data-input-csv-clean-*.csv')
ddf.compute()

   cost        date  profit  sales
0   -90  2011-02-01     110    200
1   -90  2011-02-02     110    200
2   -90  2011-02-03     110    200
3   -90  2011-02-04     110    200
4   -90  2011-02-05     110    200
5   -90  2011-02-06     110    200
6   -90  2011-02-07     110    200
7   -90  2011-02-08     110    200
8   -90  2011-02-09     110    200
9   -90  2011-02-10     110    200
0   -80  2011-01-01      20    100
1   -80  2011-01-02      20    100
2   -80  2011-01-03      20    100
3   -80  2011-01-04      20    100
4   -80  2011-01-05      20    100
5   -80  2011-01-06      20    100
6   -80  2011-01-07      20    100
7   -80  2011-01-08      20    100
8   -80  2011-01-09      20    100
9   -80  2011-01-10      20    100
0  -100  2011-03-01     200    300
1  -100  2011-03-02     200    300
2  -100  2011-03-03     200    300
3  -100  2011-03-04     200    300
4  -100  2011-03-05     200    300
5  -100  2011-03-06     200    300
6  -100  2011-03-07     200    300
7  -100  2011-03-08     200    300
8  -100  2011-03-09     200    300
9  -100  2011-03-10     200    300

## Problem Case 1: Columns are different between files
That worked well. But what happens if your input files have inconsistent columns across files? Say for example one file has a new column that the other files don't have.

In [23]:
# consistent format
ddf = dd.read_csv('test-data/input/test-data-input-csv-colmismatch-*.csv')
ddf.compute()

ValueError: Length mismatch: Expected axis has 5 elements, new values have 4 elements

## Fixing the problem with d6stack
Urgh! There's no way to use these files in dask. You don't even know what's going on. What file caused the problem? Why did it cause a problem? All you know is one file has more columns than the first file.

You can either manually process those files or use d6tstack to easily check for such a situation and fix it with a few lines of code - no manual processing required. Let's take a look!

In [24]:
import glob
import d6tstack.combine_csv

cfg_fnames = list(glob.glob('test-data/input/test-data-input-csv-colmismatch-*.csv'))
c = d6tstack.combine_csv.CombinerCSV(cfg_fnames, all_strings=True)

# check columns
print('all equal',c.is_all_equal())
print('')
c.is_col_present()

all equal False

                                  filename  cost  date profit profit2 sales
0  test-data-input-csv-colmismatch-feb.csv  True  True   True   False  True
1  test-data-input-csv-colmismatch-jan.csv  True  True   True   False  True
2  test-data-input-csv-colmismatch-mar.csv  True  True   True    True  True

Before using dask you can quickly use d6stack to check if all colums are consistent with `d6tstack.combine_csv.CombinerCSV.is_all_equal()`. If they are not consistent you can easily see which files are causing problems with `d6tstack.combine_csv.CombinerCSV.is_col_present()`, in this case there is a new column "profit2" in "test-data-input-csv-colmismatch-mar.csv".

**Let's use d6stack to fix the situation.** We will use out-of-core processing with `d6tstack.combine_csv.CombinerCSVAdvanced.combine_save()` to save data from all files into one combined file with constistent columns. Any missing data is filled with NaN (to keep only common columns use `cfg_col_sel=c.col_preview['columns_common']`) Just 2 lines of code!

In [25]:
# out-of-core combining
c2 = d6tstack.combine_csv.CombinerCSVAdvanced(c, cfg_col_sel=c.col_preview['columns_all'])
c2.combine_save('test-data/output/test-combined.csv')

True

Now you can read this in dask and do whatever you wanted to do in the first place.

In [26]:
# consistent format
ddf = dd.read_csv('test-data/output/test-combined.csv')
ddf.compute()

,profit,cost,date,profit2,sales,filename
0,110,-90,2011-02-01,NaN,200,test-data-input-csv-colmismatch-feb.csv
1,110,-90,2011-02-02,NaN,200,test-data-input-csv-colmismatch-feb.csv
2,110,-90,2011-02-03,NaN,200,test-data-input-csv-colmismatch-feb.csv
3,110,-90,2011-02-04,NaN,200,test-data-input-csv-colmismatch-feb.csv
4,110,-90,2011-02-05,NaN,200,test-data-input-csv-colmismatch-feb.csv
5,110,-90,2011-02-06,NaN,200,test-data-input-csv-colmismatch-feb.csv
6,110,-90,2011-02-07,NaN,200,test-data-input-csv-colmismatch-feb.csv
7,110,-90,2011-02-08,NaN,200,test-data-input-csv-colmismatch-feb.csv
8,110,-90,2011-02-09,NaN,200,test-data-input-csv-colmismatch-feb.csv
9,110,-90,2011-02-10,NaN,200,test-data-input-csv-colmismatch-feb.csv
10,20,-80,2011-01-01,NaN,100,test-data-input-csv-colmismatch-jan.csv
11,20,-80,2011-01-02,NaN,100,test-data-input-csv-colmismatch-jan.csv
12,20,-80,2011-01-03,NaN,100,test-data-input-csv-colmismatch-jan.csv
13,20,-80,2011-01-04,NaN,100,test-data-input-csv-colmismatch-jan.csv
14,20,-80,2011-01-05,NaN,100,test-data-input-csv-colmismatch-jan.csv
15,20,-80,2011-01-06,NaN,100,test-data-input-csv-colmismatch-jan.csv
16,20,-80,2011-01-07,NaN,100,test-data-input-csv-colmismatch-jan.csv
17,20,-80,2011-01-08,NaN,100,test-data-input-csv-colmismatch-jan.csv
18,20,-80,2011-01-09,NaN,100,test-data-input-csv-colmismatch-jan.csv
19,20,-80,2011-01-10,NaN,100,test-data-input-csv-colmismatch-jan.csv
20,200,-100,2011-03-01,400.0,300,test-data-input-csv-colmismatch-mar.csv
21,200,-100,2011-03-02,400.0,300,test-data-input-csv-colmismatch-mar.csv
22,200,-100,2011-03-03,400.0,300,test-data-input-csv-colmismatch-mar.csv
23,200,-100,2011-03-04,400.0,300,test-data-input-csv-colmismatch-mar.csv
24,200,-100,2011-03-05,400.0,300,test-data-input-csv-colmismatch-mar.csv
25,200,-100,2011-03-06,400.0,300,test-data-input-csv-colmismatch-mar.csv
26,200,-100,2011-03-07,400.0,300,test-data-input-csv-colmismatch-mar.csv
27,200,-100,2011-03-08,400.0,300,test-data-input-csv-colmismatch-mar.csv
28,200,-100,2011-03-09,400.0,300,test-data-input-csv-colmismatch-mar.csv
29,200,-100,2011-03-10,400.0,300,test-data-input-csv-colmismatch-mar.csv

## Problem Case 2: Columns are reordered between files
This is a sneaky case. The columns are the same but the order is different! Dask will read everything just fine without a warning but your data is totally messed up!

In the example below, the "profit" column contains data from the "cost" column!

In [27]:
# consistent format
ddf = dd.read_csv('test-data/input/test-data-input-csv-reorder-*.csv')
ddf.compute()

         date  sales  cost  profit
0  2011-02-01    200   -90     110
1  2011-02-02    200   -90     110
2  2011-02-03    200   -90     110
3  2011-02-04    200   -90     110
4  2011-02-05    200   -90     110
5  2011-02-06    200   -90     110
6  2011-02-07    200   -90     110
7  2011-02-08    200   -90     110
8  2011-02-09    200   -90     110
9  2011-02-10    200   -90     110
0  2011-01-01    100   -80      20
1  2011-01-02    100   -80      20
2  2011-01-03    100   -80      20
3  2011-01-04    100   -80      20
4  2011-01-05    100   -80      20
5  2011-01-06    100   -80      20
6  2011-01-07    100   -80      20
7  2011-01-08    100   -80      20
8  2011-01-09    100   -80      20
9  2011-01-10    100   -80      20
0  2011-03-01    300   200    -100
1  2011-03-02    300   200    -100
2  2011-03-03    300   200    -100
3  2011-03-04    300   200    -100
4  2011-03-05    300   200    -100
5  2011-03-06    300   200    -100
6  2011-03-07    300   200    -100
7  2011-03-08    300   200    -100
8  2011-03-09    300   200    -100
9  2011-03-10    300   200    -100

In [28]:
cfg_fnames = list(glob.glob('test-data/input/test-data-input-csv-reorder-*.csv'))
c = d6tstack.combine_csv.CombinerCSV(cfg_fnames, all_strings=True)

# check columns
col_preview = c.preview_columns()
print('all columns equal?' , col_preview['is_all_equal'])
print('')
print('in what order do columns appear in the files?')
print('')
col_preview['df_columns_order'].reset_index(drop=True)

all columns equal? False

in what order do columns appear in the files?

                              filename cost date profit sales
0  test-data-input-csv-reorder-feb.csv    2    0      3     1
1  test-data-input-csv-reorder-jan.csv    2    0      3     1
2  test-data-input-csv-reorder-mar.csv    3    0      2     1

Again, just a useful check before loading data into dask you can see that the columns don't line up. It's very fast to run because it only reads the headers, there's NO reason for you NOT to do it from a QA perspective.

Same as above, the fix is the same few lines of code with d6stack.

In [29]:
# out-of-core combining
c2 = d6tstack.combine_csv.CombinerCSVAdvanced(c, cfg_col_sel=c.col_preview['columns_all'])
c2.combine_save('test-data/output/test-combined.csv')

True

In [30]:
# consistent format
ddf = dd.read_csv('test-data/output/test-combined.csv')
ddf.compute()

          date  sales  profit  cost                             filename
0   2011-02-01    200     110   -90  test-data-input-csv-reorder-feb.csv
1   2011-02-02    200     110   -90  test-data-input-csv-reorder-feb.csv
2   2011-02-03    200     110   -90  test-data-input-csv-reorder-feb.csv
3   2011-02-04    200     110   -90  test-data-input-csv-reorder-feb.csv
4   2011-02-05    200     110   -90  test-data-input-csv-reorder-feb.csv
5   2011-02-06    200     110   -90  test-data-input-csv-reorder-feb.csv
6   2011-02-07    200     110   -90  test-data-input-csv-reorder-feb.csv
7   2011-02-08    200     110   -90  test-data-input-csv-reorder-feb.csv
8   2011-02-09    200     110   -90  test-data-input-csv-reorder-feb.csv
9   2011-02-10    200     110   -90  test-data-input-csv-reorder-feb.csv
10  2011-01-01    100      20   -80  test-data-input-csv-reorder-jan.csv
11  2011-01-02    100      20   -80  test-data-input-csv-reorder-jan.csv
12  2011-01-03    100      20   -80  test-data-input-csv-reorder-jan.csv
13  2011-01-04    100      20   -80  test-data-input-csv-reorder-jan.csv
14  2011-01-05    100      20   -80  test-data-input-csv-reorder-jan.csv
15  2011-01-06    100      20   -80  test-data-input-csv-reorder-jan.csv
16  2011-01-07    100      20   -80  test-data-input-csv-reorder-jan.csv
17  2011-01-08    100      20   -80  test-data-input-csv-reorder-jan.csv
18  2011-01-09    100      20   -80  test-data-input-csv-reorder-jan.csv
19  2011-01-10    100      20   -80  test-data-input-csv-reorder-jan.csv
20  2011-03-01    300     200  -100  test-data-input-csv-reorder-mar.csv
21  2011-03-02    300     200  -100  test-data-input-csv-reorder-mar.csv
22  2011-03-03    300     200  -100  test-data-input-csv-reorder-mar.csv
23  2011-03-04    300     200  -100  test-data-input-csv-reorder-mar.csv
24  2011-03-05    300     200  -100  test-data-input-csv-reorder-mar.csv
25  2011-03-06    300     200  -100  test-data-input-csv-reorder-mar.csv
26  2011-03-07    300     200  -100  test-data-input-csv-reorder-mar.csv
27  2011-03-08    300     200  -100  test-data-input-csv-reorder-mar.csv
28  2011-03-09    300     200  -100  test-data-input-csv-reorder-mar.csv
29  2011-03-10    300     200  -100  test-data-input-csv-reorder-mar.csv